.aboutMe {
  text-align: center;
  background-color: lightblue;
  margin-left : 250px;
  margin-right : 250px;
  margin-top: 300px;
  border: 3px solid black;
  border-radius: 2px;
}

.moreInfo {
  text-align: center;
  background-color: rgba(228, 9, 129, 0.726);
  margin-left : 250px;
  margin-right : 250px;
  margin-top: 200px;
  border: 3px solid black;
  border-radius: 2px;
}

.githubLink {
  color: black;
}

